<mat-card>
  <mat-card-content>
    <mat-list>
        <mat-list-item *ngFor="let task of tasks"> 
          <section class="example-section">
            <mat-checkbox class="example-margin" [(ngModel)]="task.isCompleted" (change)="checkedTask($event, task);"></mat-checkbox>
            <input [style.width.ch]="task.name.length" [(ngModel)]="task.name" (change)="checkedTask($event, task);" class="task-name"> 
            <span class="task-status"> {{task.isCompleted ? 'completed' : 'pending'}}</span>
            
          </section>
           
        </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>